body{
    --bs-body-bg: #083b4c;
}

.squares {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.sq {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	height: 5rem;
	background-color: #1389b2;
}


.fizz{
    background-color: #0cd6a1;
}

.buzz{
    background-color: #ffd166;
}

.fizzbuzz{
    background-color: #f0466f;
}